<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2 id="h2MenuTop">StockControl</h2>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a style="color:white;margin-top:20px" asp-action="Desconectar" asp-controller="Usuario">
                    <span style="color:white" class="glyphicon glyphicon-user"></span> Sign Out
                </a>
            </li>
        </ul>
    </div>
</nav>
